<% include ../fragments/header.ejs %>
<div class="container main-content">
  <img align="left" height="75" width="75" src="/images/HOMEBRIDGE 108.jpg" />
  <h1>Homebridge Smart Home Skill Registration Site</h1>
  <p>Please note that in order to use the Homebridge Amazon Alexa Smart Home Skill you must have installed <a href="https://homebridge.io/">HomeBridge</a> and the <a href="https://github.com/NorthernMan54/homebridge-alexa">homebridge-alexa</a>
    plugin. To setup and configure this service, please follow the instructions <a href="https://github.com/NorthernMan54/homebridge-alexa">here</a>.</p>
  <p>This Smart Home Skill allows you to control your HomeBridge enabled devices via Amazon Alexa. Supported devices are Lights, Outlets, Switches, Temperature Sensors, Window Coverings and Fans. To setup this service, please follow the instructions
    <a href="https://github.com/NorthernMan54/homebridge-alexa">here</a></p>

  <b>Voice commands supported</b>

  <p>* Alexa discover devices</p>
  <p>* Alexa, turn on _______</p>
  <p>* Alexa, turn off _______</p>
  <p>* Alexa, set ______ to 50</p>
  <p>* Alexa, what is the temperature in the ______</p>

  <h2>Account Status</h2>

  <table border='2'>

    <tr>
      <th>1 - Date Account Created</th>
      <td><%= status.created %></td><td><img height="20" width="20" src="<%= status.created_colour %>" /></td>
    </tr>
    <tr>
      <th>2 - Date of last plugin login</th>
      <td><%= status.presence %></td><td><img height="20" width="20" src="<%= status.presence_colour %>" /></td>
    </tr>
    <tr>
      <th>3 - Date Skill linked</th>
      <td><%= status.enabled %></td><td><img height="20" width="20" src="<%= status.enabled_colour %>" /></td>
    </tr>
    <tr>
      <th>4 - Date of last Alexa command</th>
      <td><%= status.lastUsedAlexa %></td><td><img height="20" width="20" src="<%= status.lastUsedAlexa_colour %>" /></td>
    </tr>
    <tr>
      <th>5 - Date of last plugin response</th>
      <td><%= status.lastUsedBroker %></td><td><img height="20" width="20" src="<%= status.lastUsedBroker_colour %>" /></td>
    </tr>
    <tr>
      <th>6 - Date of last sensor event message</th>
      <td><%= status.lastEvent %></td><td></td>
    </tr>
    <tr>
      <th>7 - Date Last Used Website</th>
      <td><%= status.lastUsedWebsite %></td><td><img height="20" width="20" src="/images/green.png" /></td>
    </tr>
  </table>
  <br><b>Notes:</b><br>
    <img height="20" width="20" src="/images/red.png" /> - This is an issue<br>
    <img height="20" width="20" src="/images/yellow.png" /> - Another item is blocking<br>
    <img height="20" width="20" src="/images/green.png" /> - This is okay<br><br>
    2 - This is only for plugin version 0.2.4 or newer ( March 2019 )<br>
    3 - This is only for accounts that enabled the skill after November 22,2019, accounts that enabled the skill prior to this date will display a Yellow status<br>
    6 - Only used when routines are enabled, for most users this is blank.<br>
  <h2>Account Statistics</h2>
  <table border='2'>
    <tr>
      <th>How many Alexa commands have been sent to homebridge-alexa</th>
      <td><%= status.alexaCount %></td>
    </tr>
    <tr>
      <th>How many Plugin responses have been sent back to Alexa</th>
      <td><%= status.brokerCount %></td>
    </tr>

    <tr>
      <th>How many sensor events</th>
      <td><%= status.eventCount %></td>
    </tr>

    <tr>
      <th>Plugin version</th>
      <td><%= status.version %></td>
    </tr>
  </table>
<br><br><br><br>
</div <% include ../fragments/footer.ejs %>
